version: 2 # CircleCI version
jobs:
    build:
        machine: true # Use a Linux VM instead of docker environment
        working_directory: ~/repo
        steps:
            - checkout
            - run: ssh -p 55555 $USER@$IP "cd tmp/ReseauEntrepriseB/script && ./usage.sh"