.outer {
  display: auto;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
  margin-left: 10px;
}

.forpas-register,
.forpas-register a {
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forpas-register a {
  color: #167bff;
}

.login {
  margin-top: 10px;
  margin-right: 10px;
}

#Déconnexion {
  margin-left: 0;
}

#Suppression {
  position: absolute;
  margin-top: 4px;
  justify-content: center;
  background-color: rgb(194, 22, 22);
}
